## Features:

### Client:

- Client_id: Unique id for client
- District: District where the client is
- Client_catg: Category client belongs to
- Region: Area where the client is
- Creation_date: Date client joined
- Target: fraud:1 , not fraud: 0


### Invoice data

- Client_id: Unique id for the client
- Invoice_date: Date of the invoice
- Tarif_type: Type of tax
- Counter_number:
- Counter_statue: takes up to 5 values such as working fine, not working, on hold statue, ect
- Counter_code:
- Reading_remarque: notes that the STEG agent takes during his visit to the client (e.g: If the counter shows something wrong, the agent gives a bad score)
- Counter_coefficient: An additional coefficient to be added when standard consumption is exceeded
- Consommation_level_1: Consumption_level_1
- Consommation_level_2: Consumption_level_2
- Consommation_level_3: Consumption_level_3
- Consommation_level_4: Consumption_level_4
- Old_index: Old index
- New_index: New index
- Months_number: Month number
- Counter_type: Type of counter

In [3]:
# imports
import numpy as np, pandas as pd

In [4]:
# train data
path1 = "data/train/client_train.csv"
path2 = "data/train/invoice_train.csv"

# test data
path3 = "data/test/client_test.csv"
path4 = "data/test/invoice_test.csv"

In [5]:
# train tables
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)

/var/folders/21/19jhch7d5dd5fjjxf3d06h9m0000gn/T/ipykernel_58513/1302298470.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(path2)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135493 entries, 0 to 135492
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   disrict        135493 non-null  int64
 1   client_id      135493 non-null  object
 2   client_catg    135493 non-null  int64
 3   region         135493 non-null  int64
 4   creation_date  135493 non-null  object
 5   target         135493 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 6.2+ MB

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        int64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      int64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: int64(12), object(4)
memory usage: 546.5+ MB

#### There are no missing values in the data

In [17]:
df = df_train = df1.merge(df2, left_on='client_id', right_on='client_id', how='left')
df_train.shape

(4476749, 21)

In [18]:
df.head(20)

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,...,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,60,train_Client_0,11,101,31/12/1994,0.0,2014-03-24,11,1335667,0,...,8,1,82,0,0,0,14302,14384,4,ELEC
1,60,train_Client_0,11,101,31/12/1994,0.0,2013-03-29,11,1335667,0,...,6,1,1200,184,0,0,12294,13678,4,ELEC
2,60,train_Client_0,11,101,31/12/1994,0.0,2015-03-23,11,1335667,0,...,8,1,123,0,0,0,14624,14747,4,ELEC
3,60,train_Client_0,11,101,31/12/1994,0.0,2015-07-13,11,1335667,0,...,8,1,102,0,0,0,14747,14849,4,ELEC
4,60,train_Client_0,11,101,31/12/1994,0.0,2016-11-17,11,1335667,0,...,9,1,572,0,0,0,15066,15638,12,ELEC
5,60,train_Client_0,11,101,31/12/1994,0.0,2017-07-17,11,1335667,0,...,9,1,314,0,0,0,15638,15952,8,ELEC
6,60,train_Client_0,11,101,31/12/1994,0.0,2018-12-07,11,1335667,0,...,9,1,541,0,0,0,15952,16493,12,ELEC
7,60,train_Client_0,11,101,31/12/1994,0.0,2019-03-19,11,1335667,0,...,9,1,585,0,0,0,16493,17078,8,ELEC
8,60,train_Client_0,11,101,31/12/1994,0.0,2011-07-22,11,1335667,0,...,9,1,1200,186,0,0,7770,9156,4,ELEC
9,60,train_Client_0,11,101,31/12/1994,0.0,2011-11-22,11,1335667,0,...,6,1,1082,0,0,0,9156,10238,4,ELEC
10,60,train_Client_0,11,101,31/12/1994,0.0,2008-11-25,11,1335667,0,...,6,1,174,0,0,0,5417,5591,4,ELEC
11,60,train_Client_0,11,101,31/12/1994,0.0,2012-07-23,11,1335667,0,...,6,1,628,0,0,0,10780,11408,4,ELEC
12,60,train_Client_0,11,101,31/12/1994,0.0,2012-11-29,11,1335667,0,...,6,1,886,0,0,0,11408,12294,4,ELEC
13,60,train_Client_0,11,101,31/12/1994,0.0,2013-07-22,11,1335667,0,...,8,1,147,0,0,0,13983,14130,4,ELEC
14,60,train_Client_0,11,101,31/12/1994,0.0,2014-07-18,11,1335667,0,...,8,1,99,0,0,0,14384,14483,4,ELEC
15,60,train_Client_0,11,101,31/12/1994,0.0,2014-11-24,11,1335667,0,...,8,1,141,0,0,0,14483,14624,4,ELEC
16,60,train_Client_0,11,101,31/12/1994,0.0,2015-11-18,11,1335667,0,...,9,1,217,0,0,0,14849,15066,4,ELEC
17,60,train_Client_0,11,101,31/12/1994,0.0,2012-03-27,11,1335667,0,...,8,1,292,0,0,0,10488,10780,4,ELEC
18,60,train_Client_0,11,101,31/12/1994,0.0,2011-03-30,11,1335667,0,...,6,1,497,0,0,0,7273,7770,4,ELEC
19,60,train_Client_0,11,101,31/12/1994,0.0,2013-02-12,11,1335667,0,...,8,1,38,0,0,0,14264,14302,2,ELEC

In [ ]:
dfsmall = df.sample(1000)

In [23]:
df.groupby('client_id').nunique().max(axis=0)

disrict                   1
client_catg               1
region                    1
creation_date             1
target                    1
invoice_date            159
tarif_type                6
counter_number            8
counter_statue            4
counter_code              6
reading_remarque          4
counter_coefficient       4
consommation_level_1    245
consommation_level_2    189
consommation_level_3     62
consommation_level_4     68
old_index               374
new_index               373
months_number           184
counter_type              2
dtype: int64

In [24]:
df['counter_type'].value_counts()

ELEC    3079406
GAZ     1397343
Name: counter_type, dtype: int64